*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
    /* font-size: var(--font-size); */
    background: #DBFAF8;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}
.logo_inicio{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.img_logo{

}