 *{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
:root{
    --primary-color: #D7F7F5;
    --secondary-color: #ebf8f7;
    --tertiary-color: #272626;
    --cuartiary-color: #eccccc;
    --max-width: 1700px;
    --padding: 8px;
    --margin: 10px;
    --border-radius: 30px;
    --transition: 1s;
    --font-size: 16px;
    --h1: 6.5rem;
    --p: 2.0rem;
    --spacing: 50px;
}
body{
    background: var(--primary-color);
    font-family: "Montserrat", sans-serif;
}
.logo_inicio{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 var(--padding);
}
.contenido{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 0 var(--padding);
    font-size: var(--p);
    justify-content: center;
}
.h1_contenido{
    font-size: var(--h1);
}
.p_contenido{
    font-size: var(--p);
}
.contenido h1, p, button{
    margin-bottom: var(--spacing);
    color: var(--tertiary-color);
}
.form-contenedor{
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 5rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 35rem;

}
.form-contenedor input, .form-contenedor select {
    width: 100%;
    padding: 10px;
    /* margin: 5px 0; */
    border: 1px solid #ccc;
    border-radius: 8px;
}
.form-contenedor .form-group {
    margin-bottom: 15px;
}
.form-contenedor .form-group label {
    display: block;
    margin-bottom: 15px;
    font-size: var(--font-size);
    text-align: left;
}
.form-contenedor .form-group .phone-input {
    display: flex;
}
.form-contenedor .form-group .phone-input select {
    width: 50px;
    margin-right: 10px;
}
.form-contenedor .form-group .phone-input input {
    flex: 1;
}
.form-contenedor .show-password {
    display: flex;
    align-items: center;
}
.form-contenedor .show-password input {
    width: auto;
    margin-left: 10px;
}
.submit{

    width: 30%;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    font-size: var(--font-size);
    font-weight: bold;
    text-align: center;
}
.form-contenedor .login-link {
    text-align: center;
    margin-top: 10px;
}
.form-contenedor .login-link a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}